@import "./settings/colors";
@import "./settings/fonts";

@import "./src/scss/reset";
@import "./src/scss/home";
@import "./src/scss/homeThreeColumens";
@import "./src/scss/homeHeaders";
@import "./src/scss/login";
@import "./src/scss/register";
@import "./src/scss/organizeCollection";
@import "./src/scss/giveThingsBack";
@import "./src/scss/aboutUs";
@import "./src/scss/simpleSteps";
@import "./src/scss/whoWeHelp";
@import "./src/scss/contact";


body {
  font-family: $font-base;
  width: 118.75rem;
  margin: 0 auto;
  box-sizing: border-box;
  color: $color--lightblack;
}